# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
wheels/

# Virtual environment
.venv/


# =========================
# dbt
# =========================

# Credentials
**/profiles.yml
**/EXprofiles.yml

# Generated dbt files
**/target/
**/logs/
**/dbt_packages/


# =========================
# dbt Power User
# =========================

**/.user.yml
**/.altimate-code/


# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example


# =========================
# VS Code
# =========================

.vscode/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db